@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 6968px;
}

#slidebar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 80%;
  background-color: #3c3a39;
  z-index: 1000px;
  padding: 108px 24px 0;
}

#slidebar.appear { top: 0; }

#slidebar hr {
  margin: 0;
  padding: 0;
  background: #6f6c6b;
  width: 300px;
}

.nav-menu { list-style: none; }

.nav-menu a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

.nav-menu li {
  padding-left: 16px;
  text-align: left;
}

.x {
  margin: 0;
  padding: 0;
  position: relative;
  top: -80px;
  right: 30px;
  font-size: 40px;
  width: 10px;
  height: 10px;
  color:  #b8b8b8;
  cursor: pointer;
}
header {
  background-color: #3c3a39;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
}

.intro {
  background-color: #1c1a19;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 120px 24px;
  font-size: 24px;
  background-image: url(../img/Group.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 100%;
}

h1 {
  color: #ff6b00;
  margin-bottom: 12px;
  font-family: 'Crete Round', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  width: 100%;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 12px;
}

.menu { display: none; }

h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
  width: 100%;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
}

.social-media {
  display: flex;
  list-style: none;
}

.icons { padding-right: 20px; }

a {
  text-decoration: none;
  color: white;
}

.button {
  background-color: #3c3a39;
  border: none;
  padding: 5px 5px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}

.works {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 24px;
  padding: 0 24px;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.works h2 {
  margin-top: 120px;
  width: 327px;
  height: 83px;
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
}

.hline {
  width: 100%;
  margin-bottom: 80px;
  height: 1px;
  background: #212121;
}

.first-proj-picture {
  width: 327px;
  height: 237px;
}

.proj1 {
  width: 327px;
}

.proj1 h3 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  text-align: left;
  color: #091e42;
  width: 300px;
  height: 36px;
  margin: 24px 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.proj1 p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #091e42;
  width: 327px;
  height: 147px;
  margin: 12px 0 0;
}

.tools {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 297px;
  height: 40px;
  padding: 0;
  margin: 12px 0;
}

.tools li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 10px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #091e42;
  text-decoration: none;
  list-style: none;
}

.Proj-button {
  background: #ff6b00;
  border: 0;
  color: #fff;
  width: 124px;
  height: 48px;
  padding: 12px 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.project-template {
  display: grid;
  grid-template-rows: repeat(6, auto);
  width: 327px;
}

.proj2 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 386px;
  margin: 0 0 24px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.4) 61.94%), url(../img/holder-2.png);
  background-size: cover;
}

.proj2 h3 {
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  text-align: left;
  color: #fff;
  width: 295px;
  height: 81px;
  margin: 84px 16px 12px 16px;
}

.proj2 p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  width: 295px;
  height: 87px;
  margin: 0 16px 12px;
}

.tools2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 236px;
  height: 40px;
  padding: 0;
  margin: 0 75px 22px 16px;
}

.tools2 li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

.Proj-button2 {
  background: #ff6b00;
  border: 0;
  color: #fff;
  width: 327px;
  height: 48px;
  padding: 12px 100px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.about {
  background: #1c1a19;
  color: #fff;
  width: 100%;
  height: 1901px;
  margin: 120px 0 0 0;
  padding: 120px 0;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-position: 100% 19%;
}

.intro2 {
  display: flex;
  flex-direction: column;
  margin: 10px 0 209px 24px;
}

.about h1 {
  font-size: 72px;
  line-height: 88px;
  width: 100%;
  height: 100%;
}

.about p {
  width: 100%;
  height: 100%;
  color: #fff;
  margin-bottom: 12px;
  padding-right: 12px;
}

.about button {
  width: 161px;
}

.about .hline {
  background: rgb(243, 243, 243);
  margin: 0 0 135px;
  padding: 0 24px;
  width: 100%;
}

.about ul { padding: 0; }

.main-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 44px;
}

.sub-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-items li {
  font-family: Inter, sans-serif;
  font-size: 22px;
  line-height: 43px;
  margin-top: 20px;
  list-style: none;
}

.main-list .language {
  list-style-image: url(../img/rect1.png);
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 0 12px 44px;
}

.main-list .frameworks {
  list-style-image: url(../img/rect2.png);
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 0 12px 44px;
}

.main-list .skills {
  list-style-image: url(../img/circle1.png);
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 0 12px 44px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 845px;
  background-color: rgb(255, 255, 255);
  padding: 120px 24px 124px 24px;
}

.form p {
  width: 327px;
  font-size: 32px;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.name {
  height: 48px;
  width: 327px;
  line-height: 24px;
  font-style: normal;
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: #979493;
}

.mail {
  height: 48px;
  width: 327px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: #979493;
}

.msg {
  width: 303px;
  height: 90px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: #dbd8d7;
  padding-left: 10px;
}

textarea {
  border-style: none;
  background-color: #fbfaf7;
  margin: 24px 0 24px 0;
  padding: 12px;
}

input:focus,
textarea:focus { outline: none; }

.form-button {
  width: 135px;
  height: 48px;
  padding: 12px;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.form-button:hover {
  background-color: #fff;
  color: #ff6b00;
  border: solid #ff6b00 1px;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  margin-top: 20px;
  width: 100%;
  color: white;
}
